$main: #000000;

$text: #ffffff;

$primary: #5221e6;

$accentPeach: #fff3e4;

$accentText: #5b6876;

$bgHeader: #181823;

$lightGrey: #8491a0;

$gap: rem(24);
$gapMin: rem(40);

$animationCubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
