.philosophy {
  padding-top: rem(48);
  background-color: $accentPeach;

  overflow: hidden;

  @media screen and(min-width: em(768)) {
    display: flex;
    padding-top: 0;
  }
}
.philosophy__content {
  text-align: center;
  @media screen and(min-width: em(768)) {
    display: flex;
    align-items: center;
    text-align: left;

    flex: 0 0 100%;
  }
}

.philosophy-body {
  @media screen and(min-width: em(768)) {
    padding-top: rem(15);
    padding-bottom: rem(15);
    padding-right: rem(52);
    width: 50%;
  }
}
.philosophy-body__title {
  padding-bottom: rem(24);
}

.philosophy-body__text {
  padding-bottom: rem(90);

  @media screen and(min-width: em(768)) {
    padding-bottom: rem(67);
  }

  @media screen and(min-width: em(1300)) {
    padding-bottom: rem(134);
  }

  color: $accentText;

  font-size: rem(18);
  line-height: prc(27, 18);
}

.philosophy-body__link {
  margin-bottom: rem(48);

  @media screen and(min-width: em(768)) {
    margin-bottom: 0;
  }
}

.philosophy__images {
  @media screen and(min-width: em(768)) {
    flex: 0 0 50%;

    position: relative;

    padding-bottom: 50%;
    transform: translate(-100%, 0);

    &--img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
    }
  }
}
